<!doctype html>
<html lang="en">
  <head>
    <title>Cart</title>
  </head>
  <body>
    <div class="container">
    	<div class="row">
    		<div class="col">
    			<h3>User Information:</h3>
    			<div class="card">
					<div class="card-body">
    					<%= render 'carts/user_form'%>
    				</div>
    			</div>
    			<h3>Pick-Up Details:</h3>
    			<div class="card">
					<div class="card-body">
    					<%= render 'carts/pickup_form'%>
    				</div>
    			</div>
    		</div>

    		<div class="col">
    			<h3>Cart:</h3>
				<div class="card">
					<div class="card-body">
					<%= render 'carts/cart_item'%>
				</div>
				<table class="finalPrices" style="margin-top: 2%; border-top: 2px solid black;">
                <tr>
                    <td>Total:</td>
                    <td id="totalAmount"> <%= number_to_currency(current_order.total) %></td>
                </tr>
                <tr>
                    <td>Tax 15.000%:</td>
                    <td id="tax15Amount"><%= number_to_currency(current_order.qctax) %></td>
                </tr>
                <tr>
                    <td>Tax 29.9750%:</td>
                    <td id="tax29Amount"><%= number_to_currency(current_order.canadatax) %></td>
                </tr>
                <tr>
                    <td>Subtotal:</td>
                    <td id="subTotal"><%= number_to_currency(current_order.subtotal) %></td>
                </tr>
            </table>
            <button class="btn btn-primary" onclick="javascript:alert('event has been triggered');">Place Order</button>
                <%= link_to "Place Order", root_path, class:'btn btn-primary'%>
				</div>

    		</div>
    		
    	</div>
    </div>
  </body>
</html>